body {
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
}